@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}
.Weather_input {
    width: 550px;
}
.Weather_input input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.Weather_input input:focus {
    padding: 0 16px;
    border: 2px solid #31ea08;
}
.Weather_input .divideer {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Weather_input .divideer::before{
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #E3F2FD;
}
.Weather_input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: #31ea08;
    transition: 0.2s ease;
}
.Weather_input .weather_button:hover {
    background: #dc1991;
}
.Weather_input .C_Location {
    background: #6C757D;
}
.Weather_input .C_Location:hover {
    background: #dc1991;
}
.WeatherData {
    width: 100%;
}
.WeatherData .current_Weather {
    color: #fff;
    background: #31ea08;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
}
.current_Weather h1 {
    font-weight: 700;
    font-size: 1.7rem;
}
.WeatherData h1 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current_Weather .icon {
    text-align: center;
}
.current_Weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}
.current_Weather .icon h1 {
    margin-top: -10px;
    text-transform: capitalize;
}
.days-forecast h1 {
    margin: 20px 0;
    font-size: 1.5rem;
}
.days-forecast .Weather_Card {
    display: flex;
    gap: 20px;
}
.Weather_Card .Card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: #6C757D;
    border-radius: 5px;
}
.Weather_Card .Card h1 {
    font-size: 1.3rem;
    font-weight: 600;
}
.Weather_Card .Card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
    .WeatherData .current_Weather {
        padding: 20px;
    }
    .Weather_Card {
        flex-wrap: wrap;
    }
    .Weather_Card .Card {
        width: calc(100% / 4 - 15px);
    }
}
@media (max-width: 1200px) {
    .Weather_Card .Card {
        width: calc(100% / 3 - 15px);
    }
}
@media (max-width: 950px) {
    .Weather_input {
        width: 450px;
    }
    .Weather_Card .Card {
        width: calc(100% / 2 - 10px);
    }
}
@media (max-width: 750px) {
    h1 {
        font-size: 1.45rem;
        padding: 16px 0;
    }
    .container {
        flex-wrap: wrap;
        padding: 15px;
    }
    .Weather_input {
        width: 100%;
    }
    .WeatherData h1 {
        font-size: 1.35rem;
    }
}